{:path ["src"]

 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/core.match {:mvn/version "1.1.0"}
        org.clojure/tools.cli {:mvn/version "1.2.245"}
        aleph/aleph {:mvn/version "0.9.3"}
        org.clj-commons/gloss {:mvn/version "0.3.6"}}

 :aliases {:standalone-viewer
           {:main-opts ["-m" "com.msladecek.inspector"]}

           :nrepl+inspector-middleware
           {:extra-deps {nrepl/nrepl {:mvn/version "1.4.0"}
                         cider/cider-nrepl {:mvn/version "0.57.0"} }
            :main-opts  ["-main" "nrepl.cmdline"
                         "--middleware" "[cider.nrepl/cider-middleware com.msladecek.inspector.nrepl/middleware]"
                         "--interactive"]}

           :nrepl+viewer
           {:extra-deps {nrepl/nrepl {:mvn/version "1.4.0"}
                         cider/cider-nrepl {:mvn/version "0.57.0"}}
            :main-opts ["-m" "com.msladecek.inspector.nrepl"]}}}
